<div class="user-show">

  <%= render "shared/dashboard" %>
  <%= button_to "Manage your administrators", business_administrative_management_index_path(business: @business.slug), method: "get" %>
  <%= button_to "Manage your Job Postings", business_jobs_path(business: @business.slug), method: "get" %>

</div>
