<h1>Job Applications</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Applied</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @job_applications.each do |application| %>
      <tr>
        <td><%= link_to "#{application.job.title}", user_job_application_path(application) %></td>
        <td><%= application.date_applied(application.created_at) %></td>
        <td><%= application.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
