<h1>About Jo.bs </h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h4>Looking for a job? Jo.bs has great opportunities with the area's leading companies. Applying for jobs has never been easier! Look at the job listings, click on a job title that interests you and hit the "apply now" button. Part-time jobs, full-time jobs, tech jobs and admin jobs are now just a click away. Start your job search now.</h4>
    </div>
  </div>
      <div id="piechart"><div id="piechart" style="width: 900px; height: 500px;"></div></div>
</div>
