<div class="jumbotron">
  <div class="container">
    <h1>Great Jobs for Great People</h1>
    <p>Jo.bs is a place made for you, to help you find your dream job. If you're out of work or looking for a better gig, look no further. Here at Jo.bs, we're dedicated to you. We're here to help you find the job you were meant to have.</p>
    <div class="btn center-block"> <%= link_to "Learn More", about_path, class: 'btn btn-lg btn-primary' %> </div>
  </div>
</div>


<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"So good, I found my jobs' jobs."</h4>
        <h3>-Jeff</h3>
      </div>

      <div class="item">
        <h4>"Best Job of my life!!"</h4>
        <h3>-Rachel</h3>
      </div>

      <div class="item">
        <h4>"I just had a baby! Now I have a job, too!"</h4>
        <h3>-Josh</h3>
      </div>

      <div class="item">
        <h4>"I found a Job so freakin' fast!"</h4>
        <h3>-Jorge</h3>
      </div>
    </div>

   </div>


  <div class="btn center-block">
    <%= link_to "See our clients' jobs", businesses_path, class: 'btn btn-lg btn-primary' %>
  </div>


  <div class="row">
    <div class="col-md-4">
      <h2>You're Cool!</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <div class="text-center">
        <a class="btn btn-primary" href="/users/new" role="button">Start Looking for Jobs today! &raquo;</a>
      </div>
   </div>
    <div class="col-md-4">
      <h2>We're Cool!</h2>
      <p>Do you want to post your job on Jo.bs? Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <div class="text-center">
        <a class="btn btn-primary" href="/business/new" role="button">Create a Business Account &raquo;</a>
      </div>
    </div>
    <div class="col-md-4">
      <h2>About Us!</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <div class="text-center">
        <a class="btn btn-primary" href="/about" role="button">About Jo.bs &raquo;</a>
      </div>
    </div>
  </div>
</div>
