<div class="jumbotron">
  <div class="container">
    <h1>Great Jobs for Great People</h1>
    <p>Jo.bs is a place made for you, to help you find your dream job. If you're out of work or looking for a better gig, look no further. Here at Jo.bs, we're dedicated to you. We're here to help you find the job you were meant to have.</p>
    <!-- <p><a class="btn btn-primary btn-lg center-block" href="#" role="button">Learn more &raquo;</a></p> -->
    <div class="btn center-block"><%= link_to "Learn More", about_path, class: 'btn btn-lg btn-primary' %></div>
  </div>
</div>




<div class="container">


  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"So good, I found my jobs' jobs." -Jeff</h4>
      </div>

      <div class="item">
        <h4>"Best Job of my life!!" -Rachel</h4>
      </div>

      <div class="item">
        <h4>"I just had a baby! Now I have a job, too!" -Josh</h4>
      </div>

      <div class="item">
        <h4>"I found a Job so freakin' fast!" -Jorge</h4>
      </div>
    </div>

   </div>



<!-- <div class="jumbotron businesses">
  <center><h1>Great Jobs for Great People</h1></p></center>
</div> -->
<!-- <div class="jumbotron">
  <center><h1>Awards</h1>
  <p>Bearded James Award Winner</p>
  <p>Most Obnoxious Menu Award</p>
  <p>Least Renown Award</p>
  </center>
</div>
 -->
  <div class="btn center-block">
    <%= link_to "See our clients' jobs", businesses_path, class: 'btn btn-lg btn-primary' %>
    <!-- <center><h2>See our Clients' Jobs</h2></center> -->
  </div>






  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

</div>
