<h1>Thank you for applying!</h1>

<h3>You applied for:</h3>

<% @jobs.each do |job| %>
<h4><%= job.title %></h4>
<% end %>

<p>
  Where to now? <%= link_to "Application History?", user_job_applications_path %>
  or <%= link_to "Your Profile Page?", current_user %> or <%= link_to "Back to see what other businesses have to offer?", businesses_path %>
</p>
