// colors /////////////////////////////////////////

$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);

$gray-light: rgba(180,180,180,1);
$gray-medium: rgba(90,90,90,1);
$gray-dark: rgba(50,50,50,1);

$gray-dark-transparent: rgba(0,0,0,0.7);

$gray-medium-light: #eaeaea;

$blue-med:  #337ab7;
$blue-dark: #2e6da4;

$green-light: #B7C68B;
$beige-light: #F4F0CB;
$beige-med: #DED29E;
$brown-light: #B3A580;
$brown-dark: #685642;

// colors /////////////////////////////////////////





// typography /////////////////////////////////////////
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,700|Oswald');

$heading-font-family: 'Oswald', Arial, serif;
$base-font-family: 'Source Sans', Arial, serif;

h1, h2, h3 {
  font-family: $heading-font-family;
  text-align: center;
}

h1  {
  font-size: 4em;
}

h2  {
  font-size: 3.5em;
  color: $gray-dark;
  margin: 20px 0 10px 0;
}

h3  {
  font-size: 2.5em;
  color: $gray-dark;
  margin: 0 0 20px 0;
}

p, ul  {
  font-family: $base-font-family;
  font-size: 1.1em;
  color: $gray-dark;
  // margin: 1em 0 1em 0;
}

ul  {
  list-style-type: square;
}

a, a:focus, a:hover  {
  color: $black;
}
// typography /////////////////////////////////////////







// navbar ///////////////////////////////////////////
.navbar{
   background-color: $black;
   opacity: 1;
   border-radius: 0px;
   z-index: 999;
   margin-bottom: 0px;

   a {
     color: $white;
   }

   a:hover {
     background-color: $gray-medium;
   }

   li {
     a:hover{
     background-color: $gray-medium;
     }
   }
}

nav.navbar{
  margin-bottom: 0px;
  border-radius: 0px
}

.navbar-brand{
  font-family: $heading-font-family, Arial, serif;
  font-size: 30px !important;
  color: $white;
}

.dropdown-menu li:hover .sub-menu {
  font-family: sans-serif;
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
  font-family: sans-serif;
    display: block;
}

// .navbar li {
//   color: $gray-medium;
// }

// .nav.navbar-nav.navbar-right li a {
//     color: $gray-medium;
// }

// .nav.navbar-nav.navbar-left li a {
//     color: $white;
// }
// navbar ///////////////////////////////////////////






// body /////////////////////////////////////////
body {
  padding-top: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

.container {
  margin: 40px auto 40px auto;
}
// body /////////////////////////////////////////






// jumbotron ///////////////////////////////////////////
.jumbotron{
  background: url("mactable.jpg") no-repeat center center ;
  background-size: cover;
  text-align: center;
  .container{
    background: $gray-dark-transparent;
    // background-color: rgba:  black;
    // opacity: .7;
    border-radius: 10px;
    padding-bottom: 30px;
    h1 {
      color: $white;
      opacity: 1;
      text-align: center;
    }
    p {
      color: $white;
      opacity: 1;
      text-align: left;
    }
 }
}
// jumbotron ///////////////////////////////////////////








// carousel ///////////////////////////////////////////
.carousel{
  margin:0 auto 50px;
  z-index: 2;
  width:75%;
  height: auto;
  overflow:hidden;

  h4 {
    color: $blue-med;
    font-family: $heading-font-family, Arial, serif;
    font-size: 3em;
    text-align: center;
    opacity: .7;
    background-color: $white;
    text-shadow: -1px 1px 0px rgba(149, 173, 210, 1), -2px 2px 0px rgba(149, 173, 210, 1);
  }
}

// // .carousel-inner > .item > img,
// .carousel-inner > .item > a > img {
//     margin: auto;
//     width:100%;
// }
// carousel ///////////////////////////////////////////





// business ///////////////////////////////////////////
  .individual-business  {
    margin: 50px 0 0 0;
    min-height: 300px;
  }
// business ///////////////////////////////////////////





// jobs ///////////////////////////////////////////////
.jobs-list {
  margin: 20px 0 60px 0;

  h1 {
    color: $blue-dark;
  }

  .jobs-individual {
    margin: 40px;
    border-bottom: 1px solid $gray-light;

    p {
      margin: 0 0 60px 0;
    }
  }
}


.thumbnail {
  min-height: 250px;
  // width: 300px;
  // margin-left: 33%;
  margin: 30px;
  opacity: 0.7;
  // background-color: cornsilk;
  text-align: center;
}


// jobs ///////////////////////////////////////////////







// footer ///////////////////////////////////////////
footer {
}

footer {
  background-color: $white;
  padding: 60px 0px 60px 0px;
  line-height: 1.7;
  // margin-top: 45px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  text-align: center;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
// footer ///////////////////////////////////////////





  // .container{
  //   background-color: black;
  //   opacity: .7;
  //   border-radius: 10px;
  // }

// .jumbotron1{
//   opacity: .5;
//   background-color: white;
// }

// .front-page-image {
//   padding-bottom: 10px;
//   text-align: center;
//   vertical-align: center;
// }



table td {
  font-family: sans-serif;
  border: 2px solid $black;
  padding: 10px;
  align: center;
}

.admin_orders_list {
  font-family: sans-serif;
  width: 65%;
  padding: 5px;
  border: 1px solid;
  height: 500px;
  overflow: auto;
}

.user-orders-list {
  font-family: sans-serif;
  width: 65%;
  padding: 5px;
  border: 1px solid;
  height: 500px;
  overflow: auto;
  margin-left: 18%;
}
.center_div {
  font-family: sans-serif;
  padding: 3px;
  margin-right: 10px;
}



.account{
    float:left
}

.admin_orders_list h3 {
  font-family: sans-serif;
  text-align: center;
}

.dashboard {
  float: left;
  margin-left: 5%;
}

.index {
  text-align: center;
}

.index {
  float: left;
  align: center;
  list-style: none;
  margin-left: 37%;
}

.container h1 {
  text-align: center;
}

.container h3 {
  text-align: center;
}



.container .index{
  text-align: center;
  float: left;
  list-style: none;
  width: 200px;
}

.field {
  align: center;
  float: left;
  margin-left: 43%;
  width: 75%
}

.collection {
  padding: 3px;
}

.submit {
  align: center;
  float: left;
  margin-left: 43%;
  width: 75%
}

.form {
  align: center;
  float: left;
  margin-left: 43%;
  width: 75%
}

.order-dashboard-page {
  align: center;
  float: left;
  margin-left: 23%;
  width: 85%
}

.admin-links p {
  border: 2px solid $black;
  border-radius: 5px;
  align: center;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding: 2px;
}

.admin-links p:hover {
  background-color: $gray-medium;
  font-color: $white;
}

.twitter-login {
  align: center;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding: 10px;
}

.collection {
  margin-left: -100px;
  list-style: vertical;
}

.filter {
  padding: 1em;
  label {
    font-size: 0.8em;
    &:after {
      content: ': ';
    }
  }
  select, input {
    margin-right: 1em;
  }
}

.index-container img {
//   text-align: center;
  padding-top: 4px;
}

.index-container h4 {
  min-height: 50px;
}

.index-container h2 {
  text-align: center;
}

.description {
  text-align: center;
  font-size: 20px;
}

.checkouts-page  {
  margin-left: 25%;
}

.checkouts-page h2 {
  text-align: center;
  margin-left: -375px;
}

.confirmation  {
  margin-left: 25%;
}

.confirmation h2 {
  text-align: center;
  margin-left: -375px;
}

.flashes {
  margin-left: 35%;
}

.user-show {
  width: 300px;
  margin-left: 33%;
  opacity: 0.7;
  background-color: white;
  text-align: center;
}

.user-order-list {
  font-family: sans-serif;
  width: 45%;
  padding: 5px;
  height: 500px;
  overflow: auto;
  margin-left: 28%;
}

.payment {
  font-family: sans-serif;
  width: 45%;
  padding: 5px;
  height: 500px;
  overflow: auto;
  margin-left: 28%;
}

.admin_status_list h3 {
  margin-left: -350px;
}

.admin_status_list table {
  margin-left: 210px;
}

.filter {
  margin-left: 180px;
}

.businesses {
  background-color: black;
}

.alert {
  text-align: center;
}
